{% extends "tbase.html" %}
{% block title %}个人详情{% endblock title %}

{% block css %}
{{ super() }}
<link  type="text/css" href="/static/personal/css/style.css" rel="stylesheet"/>
<link  type="text/css" href="/static/personal/css/basic.css" rel="stylesheet"/>
<link  type="text/css" href="/static/personal/css/framestyle.css" rel="stylesheet"/>
{% endblock css %}

{% block head_js %}
{{ super() }}
<!--
<script type="text/javascript" src="/static/personal/js/jquery-1.7.2.min.js" ></script>
-->
<script type="text/javascript">
$(function(){
	/**软件功能切换js**/
	$(".soft_con_icon ul li a").click(function(){
		var id = $(this).attr("id");
		var x=$(this).parent().index();
		$(this).children("p").css({"color":"#008dd9"}).parent().parent().siblings().children().children("p").css({"color":"#333333"});
        /*
        var src1=id+"_hover.gif"
		$(".soft_con_icon ul li a").each(function(index, element) {
         	var other_id = $(this).attr("id");
			if(id == other_id){
			   $(this).children("img").attr("src","/static/personal/images/"+src1);
			}else{
			   var src2 = other_id+".gif";
			   $(this).children("img").attr("src","/static/personal/images/"+src2);
			}
            });
         */
        //console.log(x+'clicked');
		if(x==0){
		   $("#xzgl").css({"display":"block"}).siblings().css({"display":"none"});
		   $(".soft_con1").css({"background":" url(/static/personal/images/line_select_001.gif)"});
		}else if(x==1){
		   $("#crm").css({"display":"block"}).siblings().css({"display":"none"});
		   $(".soft_con1").css({"background":"url(/static/personal/images/line_select_002.gif)"});
		}else if(x==2){
		   $("#xmgl").css({"display":"block"}).siblings().css({"display":"none"});
		   $(".soft_con1").css({"background":"url(/static/personal/images/line_select_003.gif)"});
		}else if(x==3){
		   $("#zsgl").css({"display":"block"}).siblings().css({"display":"none"});
		   $(".soft_con1").css({"background":"url(/static/personal/images/line_select_004.gif)"});
		}else{
		   $("#ydbg").css({"display":"block"}).siblings().css({"display":"none"});
		   $(".soft_con1").css({"background":"url(/static/personal/images/line_select_005.gif)"});
		}
	});
	
});
</script>

{% endblock head_js %}

{% block main %}
<div id = "porphoto" style="width:100px;float:left;">
    <span class="img-photo" style="align:center;display:block;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="70" height="70"></span>
    <span class="" style="margin-top:10px;font-size:14px;"> <a href="#" style="">查看详细属性</a>
</div>
<div class="overall_evaluation" style="float:left;" >
    <h4 class="title">整体评价</h4>
    <div class = "row" style="font-size:16px; line-height:20px;" >
        <span style="color:red;margin-left:40px;">活跃度</span> <span id="activePower" style="margin-left:20px;">74</span>&nbsp&nbsp(NO.<span id="activeness_rank">233</span>/<span id="activeness">33334</span>)&nbsp&nbsp近30日最高值<span id="Hactiveness">80</span>最低值<span id="Lactiveness">70</span>
        <span style="color:red;margin-left:20px;">重要度</span> <span id="importantPower" style="margin-left:20px;">74</span>&nbsp&nbsp(NO.<span id="importance_rank">233</span>/<span id="importance">33334</span>)&nbsp&nbsp近30日最高值<span id="Himportance">80</span>最低值<span id="Limportance">70</span>
    </div>
    <div class = "row" style="font-size:16px;line-height:20px;margin-top:10px;" >
        <span style="color:red;margin-left:40px;">影响力</span> <span id="influencePower" style="margin-left:20px;">74</span>&nbsp&nbsp(NO.<span id="influence_rank">233</span>/<span id="influence">33334</span>)&nbsp&nbsp近30日最高值<span id="Hinfluence">80</span>最低值<span id="Linfluence">70</span>
        <span style="color:red;margin-left:20px;">敏感度</span> <span id="sensitivePower" style="margin-left:20px;">74</span>&nbsp&nbsp(NO.<span id="sensitive_rank">233</span>/<span id="sensitiveness">33334</span>)&nbsp&nbsp近30日最高值<span id="Hsensitiveness">80</span>最低值<span id="Lsensitiveness">70</span>
    </div>
</div>
<div class="basicinfo" style="float:left;" >
    <h4 class="title" style="background:#77ACF4;color:#fff;">注册信息</h4>
    <ul>
        <li><span>用户ID：</span><span id="uid">1111111111</span></li>
        <li><span>昵称：</span><span id="uname">XXXXXX</span></li>
        <li><span>是否认证：</span><span id="verf">是</span></li>
        <li><span>认证类型：</span><span id="verf_type">暂无</span></li>
        <li><span>粉丝数：</span><span id="fansum">12123213</span></li>
        <li><span>关注数：</span><span id="attentionsum">213</span></li>
        <li><span>微博数：</span><span id="weibosum">3432</span></li>
        <li><span>注册地：</span><span id="location">北京 北京</span></li>
        <li><span>个人描述：</span><span id="description">暂无</span></li>
        <li><span>主页微博：</span></li>
        <li><span id="weibo_url">http://weibo.com/u/2860954042</span></li>
    </ul>
</div>
<div class="" style="float:left;margin-left:22px;">
    <div class="locationinfo" style="width:330px;float:left;border:1px solid #77ACF4;background:#fff;">
        <h4 class="title" style="background:#77ACF4;color:#fff;">位置信息</h4>
        <ul>
            <li><span style="color:red;">当前位置</span><span id="cur_loca" style="margin-left:20px;">114.112.65.16(中国 北京 北京)</span></li>
			<li><span style="color:red;">异常位置</span><span id="ab_loca" style="margin-left:20px;">114.112.65.16(中国 北京 北京)</span></li>
            <li><span style="color:red;">活跃位置</span><span id="act_loca" style="margin-left:20px;">114.112.65.16(中国 北京 北京)</span></li>
			<li><span style="color:red;">家庭位置</span><span id="fam_loca" style="margin-left:20px;">114.112.65.16(中国 北京 北京)</span></li>
			<li><span style="color:red;">工作位置</span><span id="work_loca" style="margin-left:20px;">114.112.65.16(中国 北京 北京)</span></li>
        </ul>
    </div>
    <div class="attentioninfo" style="width:380px;float:left;border:1px solid #77ACF4;background:#fff; margin-left:22px;">
        <h4 class="title" style="background:#77ACF4;color:#fff;">关注信息</h4>
        <ul>
            <li><span style="color:red;">敏感词</span><span id="sensitive_word" style="margin-left:20px;">世界 世界 世界 世界 世界 </span><a href="#" id="more_sensitive" style="margin-left:20px;">更多</a></li>
            <li><span style="color:red;">关键词</span><span id="keywords" style="margin-left:20px;">世界 世界 世界 世界 世界</span><a href="#" id="more_keywords" style="margin-left:20px;">更多</a></li>
			<li><span style="color:red;">Hashtag</span><span id="hashtag" style="margin-left:20px;">微提醒 微提醒 微提醒 微提醒 微提醒</span><a href="#" id="more_hashtag" style="margin-left:20px;" >更多</a></li>
        </ul>
    </div>
	<div class="preinfo" style="width:730px;border:1px solid #77ACF4;background:#fff;margin-top:305px;height:80px;">
        <h4 class="title" style="background:#77ACF4;color:#fff;">倾向信息</h4>
        <ul>
            <li><span style="color:red;">身份</span><span id="identify" style="margin-left:20px;">政府机构及人士</span></li>
            <li><span style="color:red;">话题</span><span id="topic_zh" style="margin-left:20px;">民生就业</span></li>
			<li><span style="color:red;">性格特征</span><span id="character" style="margin-left:20px;">抑郁</span></li>
			<li><span style="color:red;">语言风格</span><span id="language" style="margin-left:20px;">批判</span></li>
        </ul>
    </div>
</div>
<div class="taginfo" style="float:left;width:245px;border:1px solid #77ACF4;background:#fff;margin-top:10px;" >
    <h4 class="title" style="background:#77ACF4;color:#fff;">标签信息</h4>
    <ul style="float:left;width:245px;">
        <li style="float:left;margin-left:20px;font-size:14px;">已有标签:</li>
        <li style="float:left;">
            <label class="cols-label"><input name="" class=" fleft chosebox" type="checkbox" value="">重要：一级</label>
            <label class="cols-label"><input name="" class=" fleft chosebox" type="checkbox" value="">敏感：一级</label>
        </li>
        <li class="portrait_button" style="margin-right:15px;float:right;width:50px;align:center;">删除</li>
    </ul>
    <ul style="float:left;border-top:1px solid #ccc;width:245px;">
        <li style="float:left;margin-left:20px;font-size:14px;margin-top:20px;">添加标签</li>
        <li style="float:left;">
            <span style="margin-left:20px;margin-top:10px;">选择类别：</span>
			<span id="attribute_name_zh" style="margin-left:10px">
                <select id="select_attribute_name">
			        <option value="重要">重要</option>
				    <option value="红">红</option>
				    <option value="危害">危害</option>
				    <option value="敏感">敏感</option>
				    <option value="好">好</option>
				    <option value="人数">人数</option>
				    <option value="紧急">紧急</option>
			    </select>
			</span>
            <span style="margin-left:20px;margin-top:10px;">选择标签：</span>
			<span id="attribute_value_zh" style="margin-left:10px">
                <select id="select_attribute_name">
			        <option value="重要">重要</option>
				    <option value="红">红</option>
				    <option value="危害">危害</option>
				    <option value="敏感">敏感</option>
				    <option value="好">好</option>
				    <option value="人数">人数</option>
				    <option value="紧急">紧急</option>
			    </select>
			</span>
        </li>
        <li class="portrait_button" style="margin-right:15px;float:right;width:50px;align:center;">添加</li>
    </ul>
    <ul style="float:left;border-top:1px solid #ccc;width:245px;">
        <li style="float:left;margin-left:20px;">用户备注</li>
        <li style="float:left;margin-left:40px;">暂无</li>
        
    </ul>
    <span style="float:right;margin-right:15px;" class="portrait_button">修改</span>
</div>
<div class="socialinfo" style="float:left;width:730px;border:1px solid #77ACF4;background:#fff;margin-top:10px;margin-left:22px;" >
    <h4 class="title" style="background:#77ACF4;color:#fff;">社交信息</h4>
    <div class = "row" style="font-size:16px;margin-top:20px;margin-bottom20px;" >
        <span style="color:red;margin-left:30px;margin-right:10px;line-height:30px;float:left;">转发及评论用户</span>
		<span id="retweet" style="margin-left:20px;">
		    <span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
			<span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
			<span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
			<span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
			<span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
		</span>
		<a href="#" id="more_retweet" style="float:left;line-height:30px;margin-left:5px;">更多</a>
        <span style="color:red;margin-left:20px;margin-right:10px;float:left;line-height:30px;">被转发及评论用户</span>
		<span id="retweeted" style="margin-left:20px;">
		    <span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
			<span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
			<span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
			<span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
			<span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
		</span>
		<a href="#" id="more_tweeted" style="float:left;line-height:30px;margin-left:5px;">更多</a>
    </div>
    <div class = "row" style="font-size:16px;margin-top:10px;margin-bottom:20px;" >
	    <span style="color:red;margin-left:30px;margin-right:10px;float:left;line-height:30px;">双向交互的用户</span>
		<span id="two_way" style="margin-left:20px;">
		    <span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
			<span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
			<span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
			<span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
			<span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
		</span>
		<a href="#" id="more_ways" style="float:left;line-height:30px;margin-left:5px;">更多</a>
		<span style="color:red;margin-left:20px;margin-right:25px;float:left;line-height:30px;">他@的相关用户</span>
		<span id="related" style="margin-left:20px;">
		    <span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
			<span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
			<span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
			<span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
			<span class="img-photo" style="align:center;display:block;float:left;"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="30" height="30"></span>
		</span>
		<a href="#" id="more_related" style="float:left;line-height:30px;margin-left:5px;">更多</a>
    </div>
	<div style="border-top:1px solid #ccc;width:100%;">
    <span style="margin-left:20px;margin-top:10px;">主要交互的用户情况</span>
	<ul style="font-size:16px;line-height:40px;margin-top:10px;">
	    <li style="float:left;margin-left:20px;"><span style="color:red;">话题</span><span id="analyse_topic" style="margin-left:20px;margin-right:10px;">科技类   科技类   科技类</span><a href="#" id="more_analyse_topic">更多</a></li>
		<li style="float:left;margin-left:20px;"><span style="color:red;">身份</span><span id="analyse_identify" style="margin-left:20px;margin-right:10px;">媒体人士   媒体人士   媒体人士</span><a href="#" id="more_analyse_identify">更多</a></li>
	</ul>
	</div >
	<div style="border-top:1px solid #ccc;width:100%;float:left;padding-left:20px;line-height:40px;">
	    <span>注：分析范围为已入库用户。</span>
	</div>
</div>


<div class="tweetinfo" style="float:left;width:730px;border:1px solid #77ACF4;background:#fff;margin-top:10px;margin-left:22px;" >
    <h4 class="title" style="background:#77ACF4;color:#fff;">发帖信息</h4>
    <div style="width:100%;">
	    <span style= "color:red;margin-left:20px;">排序指标</span>
		<span>
		    <input type="radio" name="mode_choose" value="single_user" checked="checked">
            <span class="input-group-addon" style="width:40px;border:1px solid white;font-weight:bold; background-color:white;display:inline-block">时间</span>
            <input type="radio" name="mode_choose" value="multi_user">
            <span class="input-group-addon" style="width:40px;border:1px solid white;font-weight:bold; background-color:white;display:inline-block">转发数</span>
		     <input type="radio" name="mode_choose" value="single_user" checked="checked">
            <span class="input-group-addon" style="width:40px;border:1px solid white;font-weight:bold; background-color:white;display:inline-block">评论数</span>
            <input type="radio" name="mode_choose" value="multi_user">
            <span class="input-group-addon" style="width:40px;border:1px solid white;font-weight:bold; background-color:white;display:inline-block">敏感性</span>
		</span>
	</div>
    <span style= "color:red;width:100%;margin-left:20px;">相关微博</span>
    <div class="tang-scrollpanel-content" style="margin:0;">
	    <ul>
		    <li class="item">
			    <div class="weibo_detail" style="width:100%">
				    <p style="text-align:left;margin-bottom:0;">1、昵称:<a class="undlin" target="_blank" href="http://weibo.com/u/1189729754">闾丘露薇</a>(中国 香港)&nbsp;&nbsp;发布内容：&nbsp;&nbsp;忽然想到，从上海合作组织成立到现在，只有哈萨克斯坦的总统纳扎尔巴耶夫每届都会见到哈。从89年到现在。阿斯塔纳的标志，那座塔，官方说法，是总统梦中得到的灵感，醒来之后的设计。</p>
					<div class="weibo_info" style="width:100%">
					    <div class="weibo_pz">
					    <div id="topweibo_mid" class="hidden">3619988537724799</div>
					    <a class="retweet_count" href="javascript:;" target="_blank">转发数(141)</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="comment_count" href="javascript:;" target="_blank">评论数(116)</a></div><div class="m"><u>2013-09-07 20:13:04</u>&nbsp;-&nbsp;<a target="_blank" href="http://weibo.com/1189729754/A8nZzwpzx">微博</a>&nbsp;-&nbsp;<a target="_blank" href="http://weibo.com/u/1189729754">用户</a>;</div></div></div></li>
			<li class="item"><div class="weibo_detail" style="width:100%"><p style="text-align:left;margin-bottom:0;">2、昵称:<a class="undlin" target="_blank" href="http://weibo.com/u/1189729754">闾丘露薇</a>(中国 香港)&nbsp;&nbsp;发布内容：&nbsp;&nbsp;澳大利亚新总理阿博特一家。工党执政六年后，保守党回归。阿博特读牛津时的同学，纽约时报专栏作家Kristof在twitter感叹，读书时同学们很喜欢阿博特，只是觉得他太保守，担心他无法在澳大利亚政坛生存。结果，人家当选总理了， 是不是Oz变了？</p><div class="weibo_info" style="width:100%"><div class="weibo_pz"><div id="topweibo_mid" class="hidden">3620033433959954</div><a class="retweet_count" href="javascript:;" target="_blank">转发数(90)</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="comment_count" href="javascript:;" target="_blank">评论数(52)</a></div><div class="m"><u>2013-09-07 23:11:31</u>&nbsp;-&nbsp;<a target="_blank" href="http://weibo.com/1189729754/A8p9ZgCae">微博</a>&nbsp;-&nbsp;<a target="_blank" href="http://weibo.com/u/1189729754">用户</a>;</div></div></div></li>
			<li class="item"><div class="weibo_detail" style="width:100%"><p style="text-align:left;margin-bottom:0;">3、昵称:<a class="undlin" target="_blank" href="http://weibo.com/u/1189729754">闾丘露薇</a>(中国 香港)&nbsp;&nbsp;发布内容：&nbsp;&nbsp;请教：为何我的首页页面连我自己发的微博都看不到？</p><div class="weibo_info" style="width:100%"><div class="weibo_pz"><div id="topweibo_mid" class="hidden">3619993894087520</div><a class="retweet_count" href="javascript:;" target="_blank">转发数(21)</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="comment_count" href="javascript:;" target="_blank">评论数(70)</a></div><div class="m"><u>2013-09-07 20:34:22</u>&nbsp;-&nbsp;<a target="_blank" href="http://weibo.com/1189729754/A8o8dh9lK">微博</a>&nbsp;-&nbsp;<a target="_blank" href="http://weibo.com/u/1189729754">用户</a>;</div></div></div></li>
			<div id="TANGRAM_54__slider" class="tang-ui tang-slider tang-slider-vtl" style="height: 100%;"><div id="TANGRAM_56__view" class="tang-view" style="width: 6px;"><div class="tang-content"><div id="TANGRAM_56__inner" class="tang-inner"><div id="TANGRAM_56__process" class="tang-process tang-process-undefined" style="height: 0px;"></div></div></div><a id="TANGRAM_56__knob" href="javascript:;" class="tang-knob" style="top: 0%; left: 0px;"></a></div><div class="tang-corner tang-start" id="TANGRAM_54__arrowTop"></div><div class="tang-corner tang-last" id="TANGRAM_54__arrowBottom"></div></div>
	    </ul>
	</div>
</div>
<div id="float-wrap" class="hidden"></div>





<script type="text/javascript">
 function Personal(){
	this.ajax_method = 'GET';
}
Personal.prototype = {   //群组搜索
    call_sync_ajax_request:function(url, method, callback){
        $.ajax({
          url: url,
          type: method,
          dataType: 'json',
          async: false,
          success:callback
        });
	},
	personData:function(data){
		personalData = data ;
        //console.log(data);
        var contact_url = '/index/contact/?uid=' + uid;
        $('#contact').attr('href', contact_url)
        var homepage_url = 'http://weibo.com/u/' + uid;
        $('#homepage').attr('href', homepage_url)
        var APsum = document.getElementById('APsum');
        APsum.innerHTML = personalData.all_count;
        var IPsum = document.getElementById('IPsum');
        IPsum.innerHTML = personalData.all_count;
        var FPsum = document.getElementById('FPsum');
        FPsum.innerHTML = personalData.all_count;
        var img = document.getElementById('portraitImg');
        //console.log(personalData.photo_url);
        if(personalData.photo_url == "unknown"){
            img.src =  "http://tp2.sinaimg.cn/1878376757/50/0/1";
        }else{
            img.src = personalData.photo_url;
        }
        var influencePower = document.getElementById('FPnum');
        if(personalData.influence){
            influencePower.innerHTML = personalData.influence.toFixed(2);
        }else{
            influencePower.innerHTML = "无此数据";
        }
        var importantPower = document.getElementById('IPnum');
        if(personalData.importance){
            importantPower.innerHTML = personalData.importance.toFixed(2);
        }else{
            importantPower.innertHTML = "无此数据";
        }
        var activePower = document.getElementById('APnum');
        if(personalData.activeness){
            activePower.innerHTML = personalData.activeness.toFixed(2);
        }else{
            activePower.innerHTML = "无此数据";
        }
        var nickName = document.getElementById('nickname');
        if(personalData.uname){
            if (personalData.uname == 'unknown') {
                nickName.innerHTML = '未知';
            }
            else{
                nickName.innerHTML = personalData.uname;
            }
        }else{
            nickName.innerHTML = "无此数据";
        }
        var detailPortrait = document.getElementById('portraitDetail');
        if(!personalData.description ){
            detailPortrait.innerHTML = "无此数据";
        }else{
            detailPortrait.innerHTML = personalData.description;
        }
        var I_rank = document.getElementById('IPrank');
        if(personalData.importance_rank){
            I_rank.innerHTML = personalData.importance_rank;
        }else{
            I_rank.innerHTML = "无此数据";
        }
        var A_rank = document.getElementById('APrank');
        if(personalData.activeness_rank){
            A_rank.innerHTML = personalData.activeness_rank;
        }else{
            A_rank.innerHTML = "无此数据";
        }
        var F_rank = document.getElementById('FPrank');
        if(personalData.influence_rank){
            F_rank.innerHTML = personalData.influence_rank;
        }else{
            F_rank.innerHTML = "无此数据";
        }
        var uid_div = document.getElementById('userId');
        if(personalData.uid){
            uid_div.innerHTML = personalData.uid;
        }else{
            uid_div.innerHTML = "无此数据";
        }
            
        var userlocation = document.getElementById('userLocation');
        if(personalData.location){
            if(personalData.location == 'unknown'){
                userlocation.innerHTML = "无此数据";
            }else{
                userlocation.innerHTML = personalData.location;
            }
        }else{
            userlocation.innerHTML = "无此数据";
        }
        var gender = document.getElementById('userGender');
        if(personalData.gender){
            gendernum = personalData.gender;
            if (gendernum==1){
                gender.innerHTML = '男';
            }else{
                gender.innerHTML = '女';
            }
        }else{
            gender.innerHTML = "无此数据";
        }
        var fans = document.getElementById('userFans');
        if(personalData.fansnum){
            fans.innerHTML = personalData.fansnum;
        }else{
            fans.innerHTML = "无此数据";
        }
            
        var friends = document.getElementById('userFriend');
        if( personalData.friendsnum){
            friends.innerHTML = personalData.friendsnum;
        }else{
            friends.innerHTML = "无此数据";
        }
            
        var pattern = document.getElementById('userWeibo');
        if(personalData.statusnum){
            pattern.innerHTML = personalData.statusnum;
        }else{
            pattern.innerHTML = "无此数据";
        }
		
	},
    remarkData:function(data){
        //console.log(data);
        if (data == ''){
            $('#extraDetail').html('暂无');
        }
        else{
            $('#extraDetail').html(data);
        }
    },
    historyData:function(data){
        //console.log(data);
        histData = data;
    },
}
var global_tag_vector = new Array(); //全局标签化向量

var uid = "{{ uid }}";
var Personal = new Personal();
var personalData; // global data
var histData;
var url = "/attribute/portrait_attribute/?uid=" + uid;
Personal.call_sync_ajax_request(url, Personal.ajax_method, Personal.personData);
var url = "/attribute/get_remark/?uid=" + uid;
Personal.call_sync_ajax_request(url, Personal.ajax_method, Personal.remarkData);
var url = "/attribute/history_activeness_influence/?uid=" + uid;
Personal.call_sync_ajax_request(url, Personal.ajax_method, Personal.historyData);
var url = "/attribute/current_tag_vector/?uid=" + uid;
Personal.call_sync_ajax_request(url, Personal.ajax_method, currentData);

function currentData(data){
    //console.log(data);
    //global_tag_vector.push(['昨日影响力评价',data[0]]);
}
function bind_status_option(){
    $('#status_option').change(function(){
        //console.log($(this).val());
        if ($(this).val() == 'latest'){
            var APsum = document.getElementById('APsum');
            APsum.innerHTML = personalData.all_count;
            var IPsum = document.getElementById('IPsum');
            IPsum.innerHTML = personalData.all_count;
            var FPsum = document.getElementById('FPsum');
            FPsum.innerHTML = personalData.all_count;
            var influencePower = document.getElementById('FPnum');
            if(personalData.influence){
                influencePower.innerHTML = personalData.influence.toFixed(2);
            }else{
                influencePower.innerHTML = "无此数据";
            }
            var importantPower = document.getElementById('IPnum');
            if(personalData.importance){
                importantPower.innerHTML = personalData.importance.toFixed(2);
            }else{
                importantPower.innertHTML = "无此数据";
            }
            var activePower = document.getElementById('APnum');
            if(personalData.activeness){
                activePower.innerHTML = personalData.activeness.toFixed(2);
            }else{
                activePower.innerHTML = "无此数据";
            }
            var I_rank = document.getElementById('IPrank');
            if(personalData.importance_rank){
                I_rank.innerHTML = personalData.importance_rank;
            }else{
                I_rank.innerHTML = "无此数据";
            }
            var A_rank = document.getElementById('APrank');
            if(personalData.activeness_rank){
                A_rank.innerHTML = personalData.activeness_rank;
            }else{
                A_rank.innerHTML = "无此数据";
            }
            var F_rank = document.getElementById('FPrank');
            if(personalData.influence_rank){
                F_rank.innerHTML = personalData.influence_rank;
            }else{
                F_rank.innerHTML = "无此数据";
            }
        }
        else{
            var hist_sum;
            if (histData[6] > 10000){
                hist_sum = Math.floor(histData[6]/10000) + '万';
            }
            else{
                hist_sum = histData[6];
            }
            $('#APnum').html(histData[0].toFixed(2));
            $('#APrank').html(histData[1]);
            $('#APsum').html(hist_sum);
            $('#FPnum').html(histData[2].toFixed(2));
            $('#FPrank').html(histData[3]);
            $('#FPsum').html(hist_sum);
            $('#IPnum').html(histData[4].toFixed(2));
            $('#IPrank').html(histData[5]);
            $('#IPsum').html(hist_sum);
        }
    });
}
bind_status_option();
function bind_remark_edit(Personal){
    $('#extraDetail').click(function(){
        var td = $(this);
        var txt = td.html();
        var input = "<input id='editremark' style='width:150px;' type='text' value='" + txt + "'/>";
        td.html(input);
        $('#editremark').click(function(){
            return false;
        });
        $('#editremark').trigger('focus');
        $('#editremark').bind('keyup', function(e){
            var ev = document.all?window.event:e;
            if (ev.keyCode == 13){
                var newtxt = $(this).val();
                if (newtxt == ''){
                    td.html('暂无');
                }
                else{    
                    td.html(newtxt);
                }
                if (newtxt != txt){
                    var url = '/attribute/edit_remark/?uid=' + uid + '&remark=' + newtxt;
                    Personal.call_sync_ajax_request(url, Personal.ajax_method, confirm_edit);
                    //console.log('diff');
                }
            }
        }).bind('keydown', function(e){
            var ev = document.all?window.event:e;
            if (ev.keyCode == 13){
                return false;
            }
        });
        $('#editremark').blur(function(){
            var newtxt = $(this).val();
            if (newtxt == ''){
                td.html('暂无');
            }
            else{    
                td.html(newtxt);
            }
            if (newtxt != txt){
                var url = '/attribute/edit_remark/?uid=' + uid + '&remark=' + newtxt;
                Personal.call_sync_ajax_request(url, Personal.ajax_method, confirm_edit);
                //console.log('diff');
            }
        });
        function confirm_edit(data){
            //alert(data);
        }
    });
}
bind_remark_edit(Personal);

	
</script>

<script type="text/javascript" src="/static/js/portrait/show_tag.js"></script> 

<div class="soft_function" id="detail" style='display:none;'>
    <p><a style="font-size:15px;margin-left:15px;" href='#basicpage' onclick="$('#detail').css('display','none');">收起详细属性</a></p>
	<div class="soft_con_icon">
		<ul>
			<li><a id="pic_fun_adm" href="#detail"><img src="/static/personal/images/activity.png"/><p style="color:#008dd9">活动特征</p></a></li>
            <li><a id="pic_fun_crm" href="#detail"><img  src="/static/personal/images/language.png"/><p>偏好特征</p></a></li>
            <li><a id="pic_fun_project" href="#detail"><img  src="/static/personal/images/basic.png"/><p>影响力特征</p></a></li>
			<li><a id="pic_fun_k" href="#detail"><img  src="/static/personal/images/social.png"/><p>社交特征</p></a></li>
			<li><a id="pic_fun_mobile" href="#detail"><img  src="/static/personal/images/thought.png"/><p>思想特征</p></a></li>

		</ul>
	</div> 

	<div class="soft_con1" style="background:url(/static/personal/images/line_select_001.gif);"></div>

	<div class="soft_con">

		<div id="xzgl" class="soft_con2">
            {% include "portrait/detail/activity.html"%}
        </div>
	
		<div id="crm" class="soft_con2" style="display:none">
            {% include "portrait/detail/language.html"%}
        </div>
	
		<div id="xmgl" class="soft_con2" style="display:none">
            {% include "portrait/detail/basic.html"%}
		</div>
		<div id="zsgl" class="soft_con2" style="display:none">
            {% include "portrait/detail/social.html"%}
		</div>
	
		<div id="ydbg" class="soft_con2" style="display:none">
            {% include "portrait/detail/thought.html"%}
        </div>
	</div>
	
</div>

{% endblock main %}

{% block Own_js %}
{{ super() }}
<script>
    $('#vector_table').empty();
    var html = '';
    for (var i = 0;i < global_tag_vector.length; i++){
        var unit = global_tag_vector[i];
        html += '<li class="li_1"><span class="pt_title">';
        html += unit[0] + '</span><span class="pt_detail">';
        html += unit[1] + '</span></li>';
    }
    //console.log('tagvector');
    //console.log(global_tag_vector);
    $('#vector_table').html(html);
</script>
{% endblock Own_js%}
