{% extends "tbase.html" %}
{% block title %}用户排行{% endblock title%}

{% block css %}
{{ super() }}
<link  type="text/css" href="/static/personal/css/style.css" rel="stylesheet"/>
<link  type="text/css" href="/static/personal/css/basic.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css"/>

<style>
	.shadow {
		-webkit-box-shadow:5px 6px 3px #ABA8A8;
		-moz-box-shadow:5px 6px 3px #ABA8A8;
		box-shadow:5px 6px 3px #ABA8A8;
	}
    .dataTables_filter{text-align:right;margin-bottom:5px;}
    .dataTables_paginate{margin-top:-10px;margin-bottom:-20px;}
</style>

{% endblock css %}

{% block head_js %}
{{ super() }}
<script type="text/javascript" src='/static/js/esl.js'></script>
<script type="text/javascript" src='/static/js/echarts-all.js'></script>
<script type="text/javascript" src='/static/js/echarts.js'></script>
<script type="text/javascript" src="/static/js/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/static/js/portrait/group_table.js"></script>
{% endblock %}

{% block main %}
	<h3>用户排行</h3>
	<hr>
	<div id=''>
		<h4>排序设置</h4>
		<table class="shadow" style="margin:30px;width:900px; height:150px;border: 2px solid #cccccc;">
			<tr style="border-bottom: 1px solid #cccccc;">
				<th style="background-color: #E4E4E4;text-align: center;">排序范围</td>
				<td>
					<select id="range_choose" style="float:left;width:140px;">
						<option value='in_nolimit'>库内-不限</option>
						<option value='in_limit_domain'>库内-按身份</option>
						<option value='in_limit_topic'>库内-按话题</option>
						<option value='in_limit_keyword'>库内-按关键词</option>
						<option value='in_limit_hashtag'>库内-按微话题</option>
						<option value='in_limit_geo'>库内-按地理位置</option>
						<option value='all_nolimit'>全网-不限</option>
						<option value='all_limit_keyword'>全网-按关键词</option>
					</select>
					<div id="range_choose_detail" style="float: left;margin-left:15px;"></div>
				</td>
			</tr>
			<tr style="border-bottom: 1px solid #cccccc;">
				<th  style="background-color: #E4E4E4;text-align: center;">排序指标</th>
				<td>
					<div id="sort_select">
						<select id="sort_select_2">
							<option value="imp">身份敏感度</option>
							<option value="act">活跃度</option>
							<option value="bci">影响力</option>
							<option value="ses">敏感度</option>
							<option value="im_change">突发重要度变动</option>
							<option value="acr_change">突发活跃度变动</option>
							<option value="bci_change">突发影响力变动</option>
							<option value="ses_change">突发敏感度变动</option>
						</select>
					</div>
				</td>
			</tr>
			<tr>
				<th  style="background-color: #E4E4E4;text-align: center;">时间范围</th>
				<td>
					<span id="time_choose">
						<input name="time_range" type="radio" value="1" checked='checked'> 过去一天
						<input name="time_range" type="radio" value="7" style="margin-left:20px;"> 过去七天
						<input name="time_range" type="radio" value="30" style="margin-left:20px;"> 过去一个月
					</span>
					<span id="rank_submit" class="portait_button" class="label label-success" style='float:right;cursor:pointer; background-color:rgba(69, 133, 195, 0.89);margin-right:20px;'>提交</span>		
				</td>
			</tr>		
		</table>
		<h4>任务状态</h4>
		<div id="task_status"></div>
		<h4>结果分析</h4>
		<div id="result_analysis" style="margin-left: 30px;padding:10px;background-color: rgb(244, 246, 246);width: 900px;">
			<span>识别范围：<span id="rec_range"></span></span>
			<span id="rec_type"></span><span id='rec_detail'></span>
			<span   style="margin-left: 20px;">排序指标：<span id="rec_rank_by"></span></span>
			<span style="margin-left: 20px;">时间范围：<span id="rec_time_range"></span></span>
		</div>
		<div id="result_rank_table"></div>
	</div>


<script type="text/javascript" src="/static/js/portrait/user_rank.js"></script>

{% endblock %}